#random{
    height: 2rem;
    width: 5rem;
    margin: auto;
}

.random-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.random-header p {
    margin: 1rem auto 1rem auto;
    font-weight: bold;
}