
img {
    max-width: 100%;
    opacity: .5;
}

.search {
    margin: 4rem auto;
}
.search button {
    height: 4rem;
}
.search * {
    font-size: large;
}


h1 {
    display: flex;
    justify-content: center;
    
}

.title:hover {
    cursor: pointer;
}

p {
    font-weight: 600;
}