body, html {
  background-color: rgb(175, 175, 175);
  font-family: 'Playfair Display', serif;
  box-sizing: border-box;
}

#root {
  background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.wallpapersafari.com%2F51%2F87%2FrJh5fn.jpg&f=1&nofb=1&ipt=5f68bb6434ddd34f975467b58f6615e0bff79c820f96fc60a297a0782ab10ab2&ipo=images) no-repeat center center fixed;
  padding: .5rem 1rem 0 1rem;
}

.main-body {
  min-height: 90vh;
  max-width: 500px;
  margin: auto;
  padding: 0 3rem;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size:x-small;
  border-bottom: 1px solid black;
}

h1 {
  font-family: 'Playfair Display', serif;
  text-shadow: -1px 0 1px white, 0 1px 1px white, 1px 0 1px white, 0 -1px 1px white;
  cursor: default;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}
footer div i {
  padding: .2rem .5rem 0 .5rem;
}
.copyright {
  font-size: x-small;
  margin: 0;
  
}

.navigation {
  display: flex;
  
}
.navigation *  {
  padding-right: .4rem;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  cursor: pointer;
  color: whitesmoke;
}

button {
  cursor: pointer;
  border-radius: 1rem;
  border: none;
  font-size: x-small;
}
button:hover {
  box-shadow: -1px 0 1px white, 0 1px 1px white, 1px 0 1px white, 0 -1px 1px white;
}

.searchResults {
  /* width: max-content; */
  /* float: left;
  clear: left; */
  display: inline-block;
  width: 50%;
  cursor: pointer;
}

#home-search:hover {
  /* text-shadow: -1px 0 1px white, 0 1px 1px white, 1px 0 1px white, 0 -1px 1px white; */
  transform: scale(1.2);
}
