.wordCard {
    background-color: rgb(236, 222, 204);
    border: 1px solid black;
    border-radius: .5rem;
    padding: .75rem;
    margin: 2rem 0;
}

.word {
    display: flex;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
}

.word p {
    margin: .35rem 0;
    font-size: larger;
}

.syllables {
    display: flex;
}
